.grid {
    display: flex;
    flex-direction: column;
  }
  
  .row {
    display: flex;
  }
  
  .cell {
    width: 20px;
    height: 20px;
  }
  
  .gray {
    background-image: url('../../assets/gris.png');
  }
  
  .green {
    background-image: url('../../assets/vert.png');
    background-size: cover;
  }
  
  .blue {
    background-color: blue;
  }
  
  .player-img {
    width: 20px; /* Assurez-vous que cela correspond à la taille de votre cellule */
    height: 20px;
    object-fit: cover; /* Cela garantit que l'image couvre la cellule sans déformation */
  }
/* .player-up {
    background-image: url('../../assets/joueur_up.png');
    background-size: cover;
  }
  
  .player-down {
    background-image: url('../../assets/joueur_down.png');
    background-size: cover;
  }
  
  .player-left {
    background-image: url('../../assets/joueur_left.png');
    background-size: cover;
  }
  
  .player-right {
    background-image: url('../../assets/joueur_right.png');
    background-size: cover;
  } */
  